<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link href="/styles/style.css" rel="stylesheet">
    <link href="/styles/style-chat.css" rel="stylesheet">
    <link href="/styles/style-chat-settings.css" rel="stylesheet">
    <link href="/styles/style-navigation.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
<div class="navigation-container single">
    <a href="/dashboard">back to dashboard</a>
</div>

<div class="chat-container">
    <div class="chat-header">
        <div class=chat-title th:text="${chatroom.getDisplayName()} + ' [' + ${chatroom.getChatroomCode()} + ']'"></div>

        <div class="chat-header-settings">
            <span class="material-icons">settings</span>
        </div>
        <!--More to come here-->
    </div>

    <div class="chat-body">

    </div>

    <div class="chat-input">
        <textarea placeholder="Enter some text" rows=1></textarea>
    </div>

    <div class="chat-settings-container">
        <div class="chat-settings-header">
            <span class="material-icons">arrow_back_ios</span>
            <div>Settings</div>
        </div>


        <div class="chat-settings-body">
                <fieldset class="chat-settings-info">
                    <legend>info</legend>
                    <!--Contains chat id, chat name-->
                    <!--Admins also see chat name and can edit both name and password-->
                    <table>
                        <tr>
                            <td style="text-align: right;">code:</td>
                            <td><input type="text" th:value="${chatroom.getChatroomCode()}" disabled></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">name:</td>
                            <td><input th:disabled="${!owner}" type="text" th:value="${chatroom.getDisplayName()}" name="displayName" id="newChatroomName"></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">secret:</td>
                            <td><input th:disabled="${!owner}" type="text" th:value="${chatroom.getPassword()}" name="password" id="newChatroomSecret"></td>
                        </tr>
                    </table>

                    <input th:if="${owner}" type="submit" value="save" id="updateChatroomButton">

                </fieldset>

            <fieldset class="chat-settings-members">
                <legend>members</legend>

                <table>
                    <tbody>
                    <tr th:each="member, iStat : ${members}">
                        <td th:text="${iStat.count} + ':'"></td>
                        <td th:text="${member.getFirstName()} + ' ' + ${member.getLastName()}"></td>
                    </tr>
                    </tbody>
                </table>
                <!--Contains current chatroom members and tells if they are admins-->
                <!--Admins can edit members by deleting them or promoting them to admins-->
                <!--Admins have an extra row to invite other users-->
            </fieldset>

            <input th:if="${!owner}" id = "leaveChatroomButton" class="danger" type="button" value="leave this chat">
        </div>
    </div>
</div>

<script src="/js/main.js"></script>
</body>
</html>