<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-form.css">
    <link rel="stylesheet" href="/styles/style-navigation.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/alerts.js"></script>
    <title>Log In</title>
</head>
<body>
<div class="main-content">
    <div class="navigation-container">
        <a class="active">log in</a>
        <a href="/auth/signup">sign up</a>
    </div>

    <div class="form-container">
        <form method="post" action="/auth/login" th:object="${loginModel}">
            <fieldset>
                <legend>log in</legend>
                <input type="email" name="email" th:field="${loginModel.email}" placeholder="email"><br>
                <input type="password" name="password" th:field="${loginModel.password}" placeholder="password"><br>
                <input type="submit" value="go">
            </fieldset>
        </form>
    </div>
</div>

<div class="art-content"></div>

<script th:inline="javascript" th:if="${success != null || nomatch != null}">
    /*<![CDATA[*/
    let success = /*[[${success}]]*/ null;
    let nomatch = /*[[${nomatch}]]*/ null;
    /*]]>*/

    if(success)
        customAlert(success, true, 5000);

    if(nomatch)
        customAlert(nomatch, false, 5000);
</script>

</body>
</html>