<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-form.css">
    <link rel="stylesheet" href="/styles/style-navigation.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Sign Up</title>
</head>
<body>
<div class="navigation-container">
    <a href="/auth/login">log in</a>
    <a class="active">sign up</a>
</div>

<div class="form-container">
    <form>
        <fieldset>
            <legend>sign up</legend>
            <input type="text" placeholder="name"><br>
            <input type="text" placeholder="surname"><br>
            <input type="date" placeholder="birthday"><br>
            <input type="email" placeholder="email"><br>
            <input type="password" placeholder="password"><br>
            <input type="submit" value="go">
        </fieldset>
    </form>
</div>
</body>
</html>