<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style-form.css">
    <link rel="stylesheet" href="/styles/style-navigation.css">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/js/alerts.js"></script>
    <title>Sign Up</title>
</head>
<body>
<div class="navigation-container">
    <a href="/auth/login">log in</a>
    <a class="active">sign up</a>
</div>

<div class="form-container">
    <form method="post" action="/auth/signup" th:object="${user}">
        <fieldset>
            <legend>sign up</legend>
            <input type="text" name="firstName" th:field="${user.firstName}" placeholder="name"><br>
            <input type="text" name="lastName" th:field="${user.lastName}" placeholder="surname"><br>
            <input type="email" name="email" th:field="${user.email}" placeholder="email"><br>
            <input type="password" name="password" th:field="${user.password}" placeholder="password"><br>
            <input type="submit" value="go">
        </fieldset>
    </form>
</div>

<script th:inline="javascript" th:if="${exists != null}">
    /*<![CDATA[*/ let exists = /*[[${exists}]]*/ null; /*]]>*/

    if(exists)
        customAlert(exists, false);
</script>
</body>
</html>