.chat-container{
    height: 80%;
    width: 400px;
    border: 3px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    background: white;
    position: relative;
    margin-left: 10px;
}

@media (max-width:1200px){
    .chat-container{
        width: auto;
        margin: 0 5px 0 5px
    }
}

.chat-header{
    width: 100%;
    height: 30px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    border-bottom: inherit;
}

.chat-header-settings{
    display: flex;
}

.chat-header-settings span{
    width: 21px;
    cursor: pointer;
    color: #1a1a1a;
}

.chat-title{
    font-size: 1em;
    font-weight: bolder;
}

.chat-body{
    flex-grow: 1;
    width: 100%;
    padding: 8px 8px 0 8px;
    overflow-y: scroll;
    box-sizing: border-box;
    transition: all ease .4s;
}

.chat-body::-webkit-scrollbar, .chat-input textarea::-webkit-scrollbar{
    width: 3px;
}

.chat-body::-webkit-scrollbar-thumb, .chat-input textarea::-webkit-scrollbar-thumb{
    width: 3px;
    background: #1a1a1a;
}

.chat-element{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 7px;
}

.chat-element-head{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
}

.chat-element-head-name{
    font-size: 0.8em;
}

.chat-element-head-time{
    font-size: 0.8em;
}

.chat-element-body{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}

.chat-element-body p{
    margin: 0;
    padding: 0;
    word-break: break-word;
}

.chat-input{
    width: 100%;
    border-top: inherit;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

.chat-input textarea{
    border: none;
    box-sizing: border-box;
    border-radius: unset;
    outline: none;
    padding: 7px;
    resize: none;
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    flex-grow: 1;
    margin-right: 5px;
}

.chat-input span{
    color: #1a1a1a;
    margin-right: 5px;
    cursor: pointer
}

#emojiPicker-button{
    margin-right: 0;
    margin-left: 5px;
}