form{
    background: transparent;
}

form input{
    font-family: 'Roboto Mono', monospace;
    padding: 8px 3px 8px 3px;
    border-radius: 0;
    border: unset;
    outline: none;
    font-size: 30px;
    color: #1a1a1a;
    width: auto;
    max-width: 100%;
    background: transparent;
}

form input[type=submit]{
    width: fit-content;
    padding: 16px;
    margin-top: 8px;
    cursor: pointer;
    color: #1a1a1a;
    background: transparent;
    border: 3px solid #1a1a1a;
    transition: all ease .2s;
    border-radius: 0;
}

form input[type=submit]:hover{
    background: #1a1a1a;
    color: white;
}

form fieldset{
    border: 3px solid #1a1a1a;
    margin: 0;
}

form legend{
    font-size: 20px;
}

.form-container{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    background: transparent;
    margin-left: 10px;
}

.success{
    background: #4f914f !important;
    color: white !important;
}

.danger{
    background: #cd3d3d !important;
    color: black !important;
}

.alert{
    position: absolute;
    margin-left: 8px;
    margin-right: 8px;
    bottom: 8px;
    right: 8px;
    left: 8px;
    padding: 16px;
    opacity: 0;
    transition: opacity .4s ease;
    display: none;
}